.container{
    width: 60%;
    height: 400px;
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.petNameInput{
    width: 80%;
    height: 40px;
    font-size: 18px;
    padding: 0 0 0 10px;
    margin: 50px 0 0 9%;
}
.petNameID{
    width: 80%;
    height: 40px;
    font-size: 18px;
    padding: 0 0 0 10px;
    margin: 20px 0 0 9%;
}
.SubmitBtn{
    width: 80%;
    height: 40px;
    font-size: 18px;
    padding: 0 0 0 10px;
    margin: 50px 0 0 9%;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all ease-in 0.3s;
    border-radius: 4px;
}
.SubmitBtn:hover{
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.errorMessage{
    text-align: center;
    margin: 50px 0 0 0;
    color: red;
    font-size: 18px;
}